/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
/* // use only the available space inside the 400x400 frame */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 3px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    /* 兩個顏色 */
    color: #333;
    background: #386273;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 置中對齊的方法 */

}

.menu:hover {
    cursor: pointer;
    /* 移入時滑鼠變化 */
}

.menu {
    width: 50px;
    height: 50px;
    position: relative;
}

.line {
    width: 80px;
    height: 8px;
    background: #fff;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 10px #333;
}

.line-1 {
    top: 0px;
    left: 0;
    animation: close1 0.5s forwards;
    /* 動畫:名稱 時間 呈現方式 */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.active .line-1 {
    animation: open1 0.5s forwards;
}

.line-2 {
    top: 21px;
    left: 0;
    animation: close2 0.5s forwards;
    /* 動畫:名稱 時間 呈現方式 */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.active .line-2 {
    animation: open2 0.5s forwards;
}

.line-3 {
    top: 42px;
    left: 0;
    animation: close3 0.5s forwards;
    /* 動畫:名稱 時間 呈現方式 */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.active .line-3 {
    animation: open2 0.5s forwards;
}


.noAnimation .line-1,
.noAnimation .line-2,
.noAnimation .line-3 {
    animation: none;

    /* 沒有動作時不要開始動畫 */

}


/* 以下為關鍵影格css */
/* 0%-100% 為頭尾 */
/* transform: rotate(0deg);  變化角度(deg)*/
/* transform: scale(1); 等比縮放 */
/* open是開始執行 */
/* close是結束返回 */


@keyframes open1 {
    0% {
        top: 0px;
        transform: rotate(0deg);
        background-color: #fff;
        box-shadow: #333;
    }

    50% {
        top: 21px;
        transform: rotate(0deg);
    }

    100% {
        top: 21px;
        transform: rotate(45deg);
        background-color: #333;
        box-shadow: #fff;
    }

    /* 我要將一個白條黑影的直線從頂部跑到中間並且旋轉45度 */


}

@keyframes open2 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }

    /* 把東西從有變無 */

}

@keyframes open3 {
    0% {
        top: 42px;
        transform: rotate(0deg);
        background-color: #fff;
        box-shadow: #333;
    }

    50% {
        top: 21px;
        transform: rotate(0deg);
    }

    100% {
        top: 21px;
        transform: rotate(-45deg);
        background-color: #333;
        box-shadow: #fff;
    }
}

/* 此處開始反向操作 */

@keyframes close1 {
    0% {
        top: 21px;
        transform: rotate(45deg);
        background-color: #333;
        box-shadow: #fff;
    }

    50% {
        top: 21px;
        transform: rotate(0deg);
    }

    100% {
        top: 0px;
        transform: rotate(0deg);
        background-color: #fff;
        box-shadow: #333;
    }
}

@keyframes close2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }



    /* 把東西從無變有 */

}

@keyframes open3 {
    0% {
        top: 21px;
        transform: rotate(-45deg);
        background-color: #333;
        box-shadow: #fff;
    }


    50% {
        top: 21px;
        transform: rotate(0deg);
    }

    100% {
        top: 42px;
        transform: rotate(0deg);
        background-color: #fff;
        box-shadow: #333;
    }
}